:root {
    --fs-normal: 14px;
    --fs-small: 12px;

    --color-black: #000;
    --color-light-gray: #c0c0c0;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    background: rgb(48, 59, 68);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
    font-size: var(--fs-normal);
    width: 100%;
}
header a {
    color: #fff;
    text-decoration: none;

}

main {
    font-size: var(--fs-normal);
}

footer {
    font-size: var(--fs-small);
    color: var(--color-light-gray);
    margin: 1.5rem 0;
    width: 100%;

}

.container {
    padding: 20px 0;
    max-width: 1440px;
    min-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}